body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: rgb(65, 74, 179);
    color: rgb(218, 202, 255)
}
hr {
    border: 1px rgb(255, 255, 255) solid;
     text-shadow:
        0 0 32px #8891a2,  /* White inner glow */
        0 0 43px #8891a2,
        0 0 45px #8891a2,
        0 0 54px rgb(75, 138, 117),  /* Outer color glow */
        0 0 65px rgb(75, 138, 117),
        0 0 76px rgb(75, 138, 117),
        0 0 78px rgb(75, 138, 117),
        0 0 100px rgb(75, 138, 117);
}
a {
    color: rgb(218, 202, 255);
}
.glow {
  color: #fff; /* Text color, often white for a neon effect */
  text-shadow:
    0 0 7px #fff,  /* White inner glow */
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,  /* Outer color glow */
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.box {
    background-color: rgb(48, 56, 141);
    width: 300px;
    border-radius: 6px;
}